body{
    background-color: #e38383f1;
}
h1{
    color:#9d3119;
    text-align: center;
}
h2{
    color:#9d3119;
}
h3{
    color:#9d3119;
}
ul{
    color:#952006;
}
img {border: 8px solid #edcaa3;
    margin: 10px;
    padding: 8px;
}
a:hover{
    color:#edcaa3;
    text-decoration: underline;
}
#container {
    width:80%;
    margin: 0 auto;
}
.image-row {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 16px;
}
hr{
    color: #edcaa3;
}
table {
        width: 80%;
        margin: 0 auto;
        background-color: #d27474;
        border: 3px solid #834c4c;
        border-collapse: collapse;
        margin-bottom: 40px;
      }
    thead{
        font-size: large;
        background-color: #b65050;
        color:#edcaa3
        }
    td{
        text-align: center;
    }

td {
    border: 1px solid #000;
    padding: 8px;
    }
caption {
    font-size: large;
}